<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Curso Backbone</title>
	<link rel="stylesheet" href="public/css/main.css">
</head>
<body>
	<section class="menu">
		<div class="container menu-container">
			<div class="menu-logo">
				<img src="https://devcodela.s3.amazonaws.com/img/version2/logo-default.png?Signature=I8UHfwnVYEv52hFrLlH6rZCGU7g%3D&Expires=1428514870&AWSAccessKeyId=AKIAIZW55VHSSIFALFMA" alt="">
				<span>DevToday</span>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="row">
				<ul class="tab-ul text-center">
					<li class="tab-li activate">News</li>
					<li class="tab-li">Sports</li>
					<li class="tab-li">Tecnología</li>
					<li class="tab-li">Política</li>
				</ul>	
			</div>
		</div>
	</section>

	<section class="containt noticias-today">
		<div class="container">
			<div class="row">
				<div class="header-noticia">
					<div class="text-center">
						<h1>Programadores web en tendencia</h1>
					</div>
					<div>
						<div class="autor-fecha-noticia">
							<div class="autor-datos-noticia">
								<img class="autor-img" src="https://pbs.twimg.com/profile_images/550728010043629568/Z1hoIo_V.jpeg" alt="Julio Grados" alt="">
								<span class="autor-name">Julio Grados</span>
								<span class="noticia-fecha">3 p.m. EDT April 8, 2015</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="header-noticia">
					
					<div class="text-center">
						<img src="public/img/descarga.jpg" alt="">
					</div>
					<div class="noticia-descripcion">
						<span>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga autem nam temporibus natus. At rem minus, vero neque quibusdam earum numquam sapiente. Officiis veritatis tenetur architecto iusto. Aliquam, aliquid, autem.
							</p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla harum neque odit dicta, libero sint veniam ut, deleniti at. Voluptatum vitae, dignissimos. Sapiente soluta atque fugiat aliquam, ipsa placeat.
						
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum debitis, laborum obcaecati nostrum non nobis, voluptatem suscipit unde veritatis tempore amet dignissimos nam ea eveniet repudiandae possimus assumenda sint. Fugiat.

							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam molestiae culpa id, temporibus quia sit maxime et similique, laboriosam, distinctio mollitia fugiat aliquam doloremque praesentium quas consequuntur libero animi? Perferendis.
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, dolores. Provident, ipsa, sed tenetur minima, sunt cum voluptate autem delectus harum quia nobis rem molestiae dolorem? Repellendus quidem dolorum voluptatibus.
							</p>
						</span>
					</div>
					
				</div>
				<div class="header-noticia">
					<div class="question">
						<div class="question-name">
							<div class="question-nombre">
								<span>Nombre</span>
							</div>
							<div class="question-text-user">
								<input type="text">
							</div>
						</div>
						<div class="question-name">
							<div class="question-nombre">
								<span>Pregunta?</span>
							</div>
							<div class="question-text-descripcion">
								<textarea name="" id="" cols="30" rows="10"></textarea>
							</div>
						</div>
						<div class="question-name-preguntar">
							<button class="preguntar">Dejar pregunta</button>
						</div>
						
					</div>
					
					<div class="question">
						<div class="question-name">
							<div class="pregunta-item">
								<div>
									<div class="item-dato">
										<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo pariatur, id aliquam qui repudiandae, expedita sunt deserunt aperiam voluptate laudantium veniam ea accusamus. Ex eveniet culpa cumque porro nam vero.</span>
									</div>
									<div class="item-dato-posicion">
										<div class="item-bottom">
											<span>editar ></span>
											<span>eliminar ></span>
										</div>
									</div>
								</div>
							</div>
							<div class="pregunta-item">
								<div>
									<div class="item-dato">
										<span>Nombre</span>
									</div>
									<div class="item-dato">
										<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo pariatur, id aliquam qui repudiandae, expedita sunt deserunt aperiam voluptate laudantium veniam ea accusamus. Ex eveniet culpa cumque porro nam vero.</span>
									</div>
									<div class="item-dato-posicion">
										<div class="item-bottom">
											<span>editar ></span>
											<span>eliminar ></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>		
			</div>
		</div>
		
	</section>
	<script src="public/js/vendor/jquery.js"></script>
	<script src="public/js/vendor/underscore.js"></script>
	<script src="public/js/vendor/backbone.js"></script>
	<script src="public/js/backbone/models/modelos.js"></script>

	<script>
		$(document).ready(function(){
			
		});
	</script>
</body>
</html>
